<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>847889721735-pnrmq7angmj38j0hg3ccmk1v5157ac4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847889721735-pnrmq7angmj38j0hg3ccmk1v5157ac4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDsScknhAfzUdwJb3xaLqa5Vaw6U6pO10s</string>
	<key>GCM_SENDER_ID</key>
	<string>847889721735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NewWaveComputers.Ascend</string>
	<key>PROJECT_ID</key>
	<string>ascend-2cecf</string>
	<key>STORAGE_BUCKET</key>
	<string>ascend-2cecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847889721735:ios:9c077ab20e37ce50</string>
	<key>DATABASE_URL</key>
	<string>https://ascend-2cecf.firebaseio.com</string>
</dict>
</plist>